<a href="https://colab.research.google.com/github/jaswanthmathan/project/blob/main/Jaswanth_Day02_DIY_solution_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that takes marks as input for six subjects, with
maximum marks being 600, and prints total marks, average marks, and
percentages obtained by a student.

In [ ]:
a=int(input('Enter the marks out of 100 obtained in subject-1:'))
b=int(input('Enter the marks out of 100 obtained in subject-2:'))
c=int(input('Enter the marks out of 100 obtained in subject-3:'))
d=int(input('Enter the marks out of 100 obtained in subject-4:'))
e=int(input('Enter the marks in out of 100 obtained  subject-5:'))
f=int(input('Enter the marks in out of 100 obtained subject-6:'))
#caclute total marks
total= a+b+c+d+e+f
#calculate average marks
avg=total/600
#calculate percentage
percent=(total/600)*100
#print the result
print("total marks:",total)
print("Average marks:",avg)
print("percentage:",percent,"%")
#call the function

Enter the marks out of 100 obtained in subject-1:89
Enter the marks out of 100 obtained in subject-2:89
Enter the marks out of 100 obtained in subject-3:99
Enter the marks out of 100 obtained in subject-4:99
Enter the marks in out of 100 obtained  subject-5:87
Enter the marks in out of 100 obtained subject-6:88
total marks: 551
Average marks: 0.9183333333333333
percentage: 91.83333333333333 %

Declare a nested list with Exam scores and Student names as shown here -
"score=[[510, 'John'],[280, 'Lucy']……]".Write a Python program
to sort the list based on scores and print the students' names with first and
second-highest scores

In [ ]:
scores= [[510, 'John'], [280, 'Lucy'], [450, 'Michael'], [650, 'Sarah'], [400, 'David']]
print(scores)
scores.sort()
print(scores)
scores.reverse()
print(scores)
print("the first highest student name",scores[0][1])
print("the second highest student name", scores[1][1])

[[510, 'John'], [280, 'Lucy'], [450, 'Michael'], [650, 'Sarah'], [400, 'David']]
[[280, 'Lucy'], [400, 'David'], [450, 'Michael'], [510, 'John'], [650, 'Sarah']]
[[650, 'Sarah'], [510, 'John'], [450, 'Michael'], [400, 'David'], [280, 'Lucy']]
the first highest student name Sarah
the second highest student name John

In [ ]:
for i in range(3):
  pass