<a href="https://colab.research.google.com/github/jaswanthmathan/project/blob/main/Jaswanth_Day10_Diy_Solution_Doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to create two lists - one for countries and another for
country codes. Create a pandas series from these two lists with the codes as the
index. Print the length, shape, and size of the series too.

In [ ]:
import pandas as pd
#input
countries=["india","canda","austraila","japan","germany","france"]
c=["IND","CAN","AUS","JAP","GER","FRA"]
#function
ser=pd.Series(countries,index=c)
#display
display("The series is:",ser)
display("the lenght of the series:",len(ser))
display("shape of series:",ser.shape)
display("size of series:",ser.size)

'The series is:'

IND        india
CAN        canda
AUS    austraila
JAP        japan
GER      germany
FRA       france
dtype: object

'the lenght of the series:'

6

'shape of series:'

(6,)

'size of series:'

6

Write a Python program that reads Name, Age, and Roll no. as input from the
user and stores it into a DataFrame, and printsthe DataFrame you have created.

In [ ]:
import pandas as pd
#  input from user 
b,c,d=[],[],[]
a=int(input("enter the number of students record you want to store:"))
for i in range(a):
  name = input("Enter Name: ")
  b.append(name)
  age= input("Enter Age: ")
  c.append(age)
  roll_no = input("Enter Roll no.: ")
  d.append(roll_no)
# dataframe
display("the data frame is:   ")
df = pd.DataFrame({"Name":b, "Age":c, "Roll no.":d})
display(df)

enter the number of students record you want to store:2
Enter Name: jaswanth
Enter Age: 10
Enter Roll no.: 14
Enter Name: jagan
Enter Age: 11
Enter Roll no.: 15

'the data frame is:   '

       Name Age Roll no.
0  jaswanth  10       14
1     jagan  11       15