<a href="https://colab.research.google.com/github/jaswanthmathan/project/blob/main/JASWANTH_DAY34_DIY_SOLUTION_DOC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given a dataset – “housing.csv.” Load the dataset into a
DataFrame. Considering the “median_house_value” column as
output/target and the rest of the columns as input, perform the
following tasks:
1. Find the number of null values in each column and replace them with the
mean values
2. Split the data into test and train fragments using train_test_split()
function in 80:20 ratio (80% train, 20% test)
3. Print the size of test and train data (For both input and output)

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv("housing.csv")
display(df.head())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [12]:
mean_value=df['total_bedrooms'].mean()
df['total_bedrooms']=df['total_bedrooms'].fillna(mean_value)
print("Replacing null values with mean:")
df.isnull().sum()

Replacing null values with mean:

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [14]:
#output
y=df.median_house_value
#input
x=df.drop('median_house_value',axis=1)

In [15]:
#splitting
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
print("Shape of original dataset:",df.shape)
print("Shape of input_training set:",x_train.shape)
print("Shape of input_training set:",y_train.shape)
print("Shape of input_training set:",x_test.shape)
print("Shape of input_training set:",y_test.shape)

Shape of original dataset: (20640, 10)
Shape of input_training set: (16512, 9)
Shape of input_training set: (16512,)
Shape of input_training set: (4128, 9)
Shape of input_training set: (4128,)

In [17]:
#split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=250)
x_train[:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
542,-122.29,37.76,18.0,2873.0,763.0,1243.0,663.0,5.1702,NEAR BAY
5608,-118.30,33.80,8.0,1115.0,412.0,1472.0,396.0,3.1392,<1H OCEAN
11673,-118.03,33.84,30.0,4781.0,831.0,2568.0,797.0,5.4746,<1H OCEAN
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
13016,-121.18,38.69,7.0,7104.0,970.0,2772.0,920.0,6.3528,INLAND