<a href="https://colab.research.google.com/github/jaswanthmathan/project/blob/main/Jaswanth_Day11_Diy_Solution_Doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that reads the “iris.csv” dataset (Available on LMS) into
a DataFrame, and filters the rows on the condition that “sepal length” should be
more than or equal to 6cm. Write the filtered rows in a new DataFrame, and
save the new DataFrame as a CSV file.

In [ ]:
import pandas as pd
df=pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
filtered_df=(df['SepalLengthCm']>=6)
filtered_df

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149    False
Name: SepalLengthCm, Length: 150, dtype: bool

In [ ]:
new=(df[filtered_df])
display(new)

<ipython-input-19-3380c63379a9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  new=(df[filtered_df])

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,131,132,7.9,3.8,6.4,2.0,Iris-virginica
51,132,133,6.4,2.8,5.6,2.2,Iris-virginica
52,133,134,6.3,2.8,5.1,1.5,Iris-virginica
54,135,136,7.7,3.0,6.1,2.3,Iris-virginica
56,137,138,6.4,3.1,5.5,1.8,Iris-virginica
58,139,140,6.9,3.1,5.4,2.1,Iris-virginica
62,144,145,6.7,3.3,5.7,2.5,Iris-virginica
63,145,146,6.7,3.0,5.2,2.3,Iris-virginica
65,147,148,6.5,3.0,5.2,2.0,Iris-virginica

In [ ]:
new.to_csv("newIris.csv")

None

In [ ]:
df=pd.read_csv("newIris.csv")
df

,Unnamed: 0,Unnamed: 0.1,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,50,131,132,7.9,3.8,6.4,2.0,Iris-virginica
1,51,132,133,6.4,2.8,5.6,2.2,Iris-virginica
2,52,133,134,6.3,2.8,5.1,1.5,Iris-virginica
3,54,135,136,7.7,3.0,6.1,2.3,Iris-virginica
4,56,137,138,6.4,3.1,5.5,1.8,Iris-virginica
5,58,139,140,6.9,3.1,5.4,2.1,Iris-virginica
6,62,144,145,6.7,3.3,5.7,2.5,Iris-virginica
7,63,145,146,6.7,3.0,5.2,2.3,Iris-virginica
8,65,147,148,6.5,3.0,5.2,2.0,Iris-virginica